# Google App Engine generated folder
appengine-generated/
# dotenv environment variables file
# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test
# firebase
/firebase
package-lock.json